@font-face {
  font-family: 'Poetsen';
  src: url(./Fonts/Poetsen.ttf);
}

:root {
  /* цвета */
  --background-color: rgba(0, 0, 0, 0.5);
  --light-color: #FFFFFF;
  --main-color: #40B2D6;

  /* размеры */
  --content-width: 1000px;
  --content-vertical-padding: 100px;
  --content-item-gap: 20px;
  --line-height: 4px;
  
  /* ращмеры шрифтов */
  --h1-font-size: 40px;
  --text-font-size: 24px;

  /* картинки */
  --background-image: url(./Images/background.jfif)
}

* {
  margin: 0;
  padding: 0;
}