:root {
  --bg-color: #051923;
  --bg-color-btn: #0582CA;
  --bg-color-card: #082939;
  --secondary-color: #00A6FB;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --text-color-1: #051923;
  --text-color-2: #006494;
}