.main {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--background-color);
}
.content {
  width: var(--content-width);
  height: calc(100vh - var(--vertical-padding-content) * 2);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: var(--content-item-gap);
}
.header {
  color: var(--light-color);

  font-family: 'Poetsen';
  font-size: var(--h1-font-size);
}
.description {
  color: var(--light-color);

  font-family: 'Poetsen';
  font-size: var(--text-font-size);
}
.line {
  width: 70%;
  height: var(--line-height);

  background-color: var(--main-color);
}